In [ ]:
print(1+2)

3

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [ ]:
print(type(30 / 3))

<class 'float'>

In [ ]:
print(45 +1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + str(50) + "%")

降水確率50%

In [ ]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [ ]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
# 整数型と浮動小数点の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
# 台形の寸法
upper_base = 10  # 上辺（cm）
lower_base = 20  # 下辺（cm）
height = 5       # 高さ（cm）

# 台形の面積を計算（公式：（上辺＋下辺）× 高さ ÷ 2）
area = (upper_base + lower_base) * height / 2

# 結果を表示（単位付き）
print(f"台形の面積は {area} cm² です。")

台形の面積は 75.0 cm² です。

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1])

user_names[1]="侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")

# 3番目の要素を取り出す
print(country_names[2])

# すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

# セット全体を表示
print(country_names)

country_names.add("ドイツ") #「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス") # セットから「イギリス」を削除
print(country_names)

{'アメリカ', '日本', 'イギリス', 'フランス'}
{'イギリス', 'ドイツ', '日本', 'アメリカ', 'フランス'}
{'ドイツ', '日本', 'アメリカ', 'フランス'}

In [ ]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# キー「name」の値を表示
print(personal_data["name"])

# 連想配列全体を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["address"] = "東京都"

# 連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [ ]:
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]

dictionary = {"mon": "晴れ", "tue": "雨", "wed": "晴れ", "thu": "晴れ", "fri": "曇り", "sat": "曇りのち雨", "sun": "雷雨"}

print(array[2])
print(dictionary["wed"])

水曜日は晴れです
晴れ

In [ ]:
print(45 + 18) # 算術演算子を使った場合の戻り値を出力する
print(45 > 18) # 比較演算子を使った場合の戻り値を出力する

63
True

In [ ]:
print("5" == 5)

False

In [ ]:
# ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、3なら「当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
  print("大当たりです")
elif num == 3:
  print("当たりです")
else:
  print("はずれです")

4
大当たりです

In [ ]:
# ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が2）
if 1 < num and num < 3:
  print("変数numは1より大きく、3より小さいです")
else:
  print("and条件が成り立ちませんでした")

# 1つでも条件が成り立てば処理を行う（変数numの値が1または3）
if num == 1 or num == 3:
  print("変数numは1または3です")
else:
  print("or条件が成り立ちませんでした")

0
and条件が成り立ちませんでした
or条件が成り立ちませんでした

In [ ]:
var = 30

if var % 3 == 0 and var % 5 ==0:
  print("FizzBuzz")
elif var % 3 == 0:
  print("Fizz")
elif var % 5 == 0:
  print("Buzz")
else:
  print(var)

FizzBuzz

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# ランダムな整数を利用するため、記述が必要です
import random

for i in range(1, 11):
  # 変数numに1～20までのランダムな整数を代入する
  num = random.randint(1, 20)

  print(f"{i}回目の結果は{num}です。")

  # 変数numの値が20であれば、break文で繰り返し処理を強制終了する
  if num == 20:
    print("20が出たので繰り返し処理を強制終了します")
    break

1回目の結果は4です。
2回目の結果は16です。
3回目の結果は15です。
4回目の結果は4です。
5回目の結果は20です。
20が出たので繰り返し処理を強制終了します

In [ ]:
for i in range(1, 11):
  # ループ変数iの値が奇数（2で割った余りが1）であれば、値を出力せずcontinue文で次のループに進む
  if i % 2 == 1:
    continue

  print(i)

2
4
6
8
10

In [ ]:
# ランダムな整数を利用するため、記述が必要です。
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# カウンタ変数を用意する
i = 1

# 変数numの最初の値を出力する（確認用）
print(f"最初の値は{num}です。")

# 変数numの値が0以外である間、変数numの値を出力し続ける
while num != 0:
  # 変数numに0～4までのランダムな整数を代入する
  num = random.randint(0, 4)

  # カウンタ変数iの値が5であれば、break文で繰り返し処理を強制終了する
  if i == 5:
    print("5回目なので繰り返し処理を強制終了します。")
    break

  # 次の条件式で比較される、変数numの現在の値を出力する
  print(f"現在の値は{num}です。")
  # カウンタ変数の値を1増やす
  i = i + 1

最初の値は3です。
現在の値は2です。
現在の値は2です。
現在の値は3です。
現在の値は2です。
5回目なので繰り返し処理を強制終了します。

In [ ]:
# ランダムな整数を利用するため、記述が必要です。
import random

# 合計用の変数を用意する
sum = 0

# 変数sumの値が20以上になるまで繰り返し処理を行う
while sum < 20:
  # 変数numに1～10までのランダムな整数を代入する
  num = random.randint(1, 10)

  print(f"{num}が出ました。")

  # 変数numの値が偶数（2で割った余りが0）であれば、加算せずにcontinue文で次のループに進む
  if num % 2 == 0:
    print("偶数なので加算しません。")
    continue

  # 変数sumに変数numの値を加算する
  sum = sum + num
  print(f"現在の合計は{sum}です。")

9が出ました。
現在の合計は9です。
9が出ました。
現在の合計は18です。
6が出ました。
偶数なので加算しません。
9が出ました。
現在の合計は27です。

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 配列user_namesの要素を1つずつ順番に出力する
for user_name in user_names:
  print(user_name)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# 連想配列personal_dataのキーと値を1つずつ順番に出力する
for key, value in personal_data.items():
  print(f"{key}は{value}です。")

# 連想配列personal_dataの値を1つずつ順番に出力する
for value in personal_data.values():
  print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 配列user_namesのインデックスと値を1つずつ順番に出力する
for index, value in enumerate(user_names):
  print(f"{index} : {value}")

0 : 侍太郎
1 : 侍一郎
2 : 侍二郎
3 : 侍三郎
4 : 侍四郎

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 検索したいユーザー名を代入する変数
target = "侍二郎"

for user_name in user_names:
  print(user_name)

  # 変数user_nameと変数targetの値が一致すれば、break文で繰り返し処理を強制終了する
  if (user_name == target):
    print(f"{target}さんが見つかったので、繰り返し処理を強制終了します。")
    break

侍太郎
侍一郎
侍二郎
侍二郎さんが見つかったので、繰り返し処理を強制終了します。

In [ ]:
score = {
    "国語": 80,
    "数学": 55,
    "理科": 70,
    "社会": 85,
    "英語": 60
}

print("合格した科目は以下のとおりです。")

for key, value in score.items():
  # 変数valueの値(点数)が70より小さければ、キー（科目名）と値（点数）を出力せずにcontinue文で次のループに進む
  if (value < 70):
    continue
  print(f"{key}:{value}点")

合格した科目は以下のとおりです。
国語:80点
理科:70点
社会:85点

In [ ]:
array = ["水", "金", "地", "火", "木", "土", "天", "海", "冥"]

for element in array:
    print(element)

i = 0
while i < len(array):
    print(array[i])
    i += 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [ ]:
# 朝のあいさつを出力する関数を作成する
def say_good_morning():
  print("おはようございます！")
  print("昨日はよく眠れましたか？")
  print("今日も一日頑張りましょう！")

# 夜のあいさつを出力する関数を作成する
def say_good_evening():
  print("こんばんは！")
  print("今日も一日お疲れさまでした。")

# 朝のあいさつを出力する関数を呼び出す
say_good_morning()

# 夜のあいさつを出力する関数を呼び出す
say_good_evening()

おはようございます！
昨日はよく眠れましたか？
今日も一日頑張りましょう！
こんばんは！
今日も一日お疲れさまでした。

In [ ]:
# 与えられた引数$priceに送料を加算し、その値を出力する関数を定義する
def calculate_total(price):
  # 与えられた引数priceに送料を加算し、変数totalに代入する
  total = price + 500

  # 変数totalの値を出力する
  print(f"{total}円")

# 関数を呼び出し、引数として購入金額を渡す
calculate_total(1200)

1700円

In [ ]:
def add_two_arguments(price, shipping_fee):
  # 与えられた引数priceと引数shipping_feeを加算し、変数totalに代入する
  total = price + shipping_fee

  # 変数$totalの値を出力する
  print(f"{total}円")

# 関数を呼び出し、引数として購入金額と送料を渡す
add_two_arguments(1200, 500)

1700円

In [ ]:
# 購入済みかどうかを判定する変数
purchased = True

# 戻り値を返す関数を定義する
def is_purchased():
    if (purchased):
      return True
    else:
      return False

# 戻り値を返す関数を条件式に使う（Trueであれば処理が実行される）
if (is_purchased()):
  print("商品は購入済みです。")

商品は購入済みです。

In [1]:
def greet_user(user_name: str) -> str:
    if user_name == "":
        return "こんにちは、ゲストさん！"
    else:
        return f"こんにちは、{user_name}さん！"

# 実行例
print(greet_user("太郎"))    # ユーザー名がある場合
print(greet_user(""))        # ユーザー名が空文字の場合

こんにちは、太郎さん！
こんにちは、ゲストさん！

In [2]:
def calc_total_price(price, tax_rate):

    tax_amount = price * (tax_rate / 100)
    total = price + tax_amount
    return total

# 関数を使って計算
price = 110
tax_rate = 10
total_price = calc_total_price(price, tax_rate)

print(f"税込価格は {total_price} 円です。")

税込価格は 121.0 円です。